<%- include('../partials/header', {title}) %>

<form class="delete-form" action="/artists/<%=artist._id%>?_method=PUT" method="POST">
    <button type="submit">Update Artist</button></form>




    <%- include('../partials/footer') %>
